{% extends "base.html" %}
{%load static%}
{%block content %}
    <!-- Contact Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Aloqa</h6>
                <h1>Istalgan savol uchun biz bilan bog'laning</h1>
            </div>
            <!-- Success message -->
            {% if success_message %}
            <div class="alert alert-success text-center">
                <strong>{{ success_message }}</strong>
            </div>
            {% endif %}
    
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="contact-form bg-white" style="padding: 30px;">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    {{ form.name }}
                                    {% for error in form.name.errors %}
                                        <small class="text-danger">{{ error }}</small>
                                    {% endfor %}
                                </div>
                                <div class="form-group col-sm-6">
                                    {{ form.email }}
                                    {% for error in form.email.errors %}
                                        <small class="text-danger">{{ error }}</small>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.subject }}
                                {% for error in form.subject.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                {{ form.message }}
                                {% for error in form.message.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary py-3 px-4" type="submit">Xabar yuborish</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Contact End -->
{%endblock content%}