{% extends "base.html" %}
{%load static%}
{%block content %}
    <!-- Header Start -->
    <div class="container-fluid page-header">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="{%url 'index'%}">Bosh sahifa</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Diqqatga sazovor joylar</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Destination Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">O'zbekistonning</h6>
                <h1>Diqqatga sazovor joylari</h1>
            </div>
            <div class="row">
                {% for place in places %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="{{ place.image.url }}" alt="{{ place.name }}">
                        <a class="destination-overlay text-white text-decoration-none" href="{% url 'place_detail' place.id %}">
                            <h5 class="text-white">{{ place.name }}</h5>
                            {% comment %} <span>{{ place.location }}</span> {% endcomment %}
                            {% comment %} <p>{{ place.description }}</p> {% endcomment %}
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <!-- Destination Start -->
{%endblock content%}